.card {
  display: flex;
  height: 330px !important;
  flex-direction: row;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.card-image {
  width: 100px;
  height: 100px;
  margin: 10px;
  border-radius: 10px;
}

.card-body {
  flex: 1;
  padding: 20px;
}

.card-title {
  color: #4b250a !important;
  font-weight: bold;
  margin-bottom: 10px;
}

.card-description {
  margin-bottom: 20px;
}

.card-price {
  font-weight: bold;
  color: #4b250a !important;
}