.contact-page {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    text-align: center;
    height: 100vh;
}

form {
    padding-left: 30%;
    padding-right: 30%;
}

.contact-page.button{
    position: fixed;
}