.detail-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
.product {
    display: flex;
    justify-content: center;
    border-radius: 25px;
    background-color: rgba(255, 255, 255, 0.65);
    backdrop-filter: blur(40px);
    box-shadow:inset 0px 0px 20px 0px rgba(255, 255, 255, 0.3);
    min-height: 600px;
}

.image-container {
    padding-top: 40px;
    flex: 1;
}

.image-container img {
    width: 400px;
    margin-bottom: 20px;
}

.info-container {
    color: #4b250a !important;
    flex: 2;
    margin-bottom: 20px;
    padding: 40px 60px;
}

.info-container h2 {
    margin-bottom: 20px;
}
