.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  padding: 0px 30px;
  height: 80px;
}

.logo {
  font-weight: bold;
}

.logo-img {
  height: 80px;
}

.nav-links {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.nav-links li {
  margin-right: 20px;
  font-size: 24px;
}

.nav-links li a {
  text-decoration: none;
  color: #4b250b;
  font-weight: bold;
}

.nav-links li a:hover {
  font-weight: bold;
  color: #bc8f70;
}
